
h1, 
h2,
h3,
h4,
h5,
h6{
font-family: 'Poppins', sans-serif;
font-weight: bold;
}
h1{
    font-size: 96px; 
}
.hero{
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    text-align: center;
}
.hero h2 {
    font-weight: normal; 
    font-size: 24px;
}
.hero p {
    font-size: 36px;
    margin: 0 auto; 
}