
:root{
    --branding-color: #01bdd6; 
    --secondary-color: linear-gradient(109.6deg, rgb(163, 217, 207) 11.2%, rgb(4, 178, 217) 100.2%);
    --heading-font-family:'Monofett', cursive ;
    --default-font-family:'Poppins', sans-serif;
}
body{
    background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); 
    font-family: var(--default-font-family);
}
h1{
    font-family: var(--heading-font-family);
    text-align: center;
    font-size: 96px; 
}
h2{
    text-align: center;
    font-size: 64px;
}
nav{
    padding: 20px 0;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover, nav a:active{
    color: var(--branding-color);
    transition: 300ms;
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 10px;
}
nav ul{
    margin: 0;
    padding: 0;
}
li{
    text-decoration: none;
}
p {
    font-weight: normal;
    font-size: 16px; 
    line-height: 30px; 
}
.content{
    margin: 30px;
}
.content-container{
    padding: 160px 20px;
}
.content-container h1{
    font-size: 64px;
    line-height: 80px;
}
.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content-container h3{
    font-size: 24px;
    font-family: var(--default-font-family);
}
.content-container a{
    text-decoration: none;
}
.btn-branding{
    background: var(--branding-color);
    font-size: 18px;
    line-height: 27px; 
    padding: 12px 20px; 
}
.btn-branding:hover{
    background: pink;
    font-size: 18px;
    line-height: 27px; 
    padding: 12px 20px; 
    transition: 300ms;
}
.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px; 
    font-size: 18px;
    line-height: 27px; 
    padding: 12px 20px;
}
.btn-branding-outline:hover{
    color: pink;
    border: 1px solid pink;
    border-radius: 4px; 
    font-size: 18px;
    line-height: 27px; 
    padding: 12px 20px;
    transition: 300ms;
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero h2 {
    font-weight: normal; 
    font-size: 24px;
}
.hero p {
    font-size: 36px;
    border-radius: 4px;
    margin: 0 auto; 
}
.logo{
    max-width: 150px;
}
.profile-pic{
    border: 1px solid var(--branding-color);
    border-radius: 15px;
    margin-top: 300px;
    margin-bottom: 100px;
    
}
.work-image{
    display: flex;
    align-items: evenly;
}
.footer{
    margin-top: 60px 0;
    position: fixed;
    bottom:0;
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    
    
}
.footer:hover{
    color: var(--branding-color);
}
.email-link{
    margin-top: 100px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--branding-color);
}
footer .social-links a {
   text-decoration: none;
   color: var(--branding-color);
   margin: 0 20px;
   padding: 10px 14px;
}
.contact-box{
    padding: 10px;
    background: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%, rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
    text-align: center;
}
@media (max-width: 900px){
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }
    .about-section{
        text-align: center;
    }
    .nav a{
        font-size: 14px;
        margin: 5px;
    }
    .project-description{
    padding: 120px
     60px; 
     text-align: center;
    }

}